/* El tema de las imagenes */

#menuCarousel .carousel-item img {
    max-width: 150px;
    margin: auto;
}
.menu-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}