/* El tema de las imagenes */

#menuCarousel .carousel-item img {
    max-width: 150px;
    margin: auto;
}
.menu-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/* Fin del tema de las imagenes */

/* Inicio Promociones Especiales */

.container {
    max-width: 900px;
}
.img-fluid {
    max-height: 250px;
}

/* Fin Promociones Especiales */
